@model Tuple<List<CartItem>, List<Branch>>
@using ShikShaq.Logic;
@using WebApplication1.Models;

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shopping Cart</h1>

<section class="shopping-cart">

    <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-quantity">Quantity</label>
        <label class="product-removal">Remove</label>
        <label class="product-line-price">Total</label>
    </div>

    @foreach (var item in Model.Item1)
    {
        var imgsrc = ProductImageSourceFetcher.Fetch(item.Product);

        <div class="product" id="@item.Product.Id">
            <div class="product-image">
                <img src="@imgsrc">
            </div>
            <div class="product-details">
                <div class="product-title">@item.Product.Name</div>
                <p class="product-description">@item.Product.Description</p>
            </div>
            <div class="product-price">@item.Product.Price</div>
            <div class="product-quantity">
                <input type="number" value="@item.Quantity" min="1">
            </div>
            <div class="product-removal">
                <button class="remove-product">
                    Remove
                </button>
            </div>
            <div class="product-line-price">@(item.Quantity * item.Product.Price)</div>
        </div>

    }

    <div class="text-danger" id="status-message"></div>

    <div class="totals">
        <div class="totals-item">
            <label>Subtotal</label>
            <div class="totals-value" id="cart-subtotal">@ViewBag.totalPrice</div>
        </div>
    </div>

    <button class="checkout">Checkout</button>
    <button class="save">Save Changes</button>
    <button class="clear">Clear Cart</button>

    <div class="select">
        <select name="slct" id="slct">
            <option value="-1" selected disabled>Choose a branch</option>

            @foreach (var item in Model.Item2)
            {
                <option value="@item.Id">@item.Name</option>
            }

        </select>
    </div>

</section>




@section Styles
{
    <link href="~/css/my-cart.css" rel="stylesheet" type="text/css">
}

@section Scripts
{
    <script src="~/js/my-cart.js"></script>
}
