@model WebApplication1.Models.Product
@using ShikShaq.Logic;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Details";
}


<main class="container">

    <!-- Left Column Image -->
    @{var imgsrc = ProductImageSourceFetcher.Fetch(Model);}
    <div class="left-column">
        <img src="@imgsrc">
    </div>

    <!-- Right Column -->
    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <span>Product's Details</span>
            <h1>@Html.DisplayFor(model => model.Name)</h1>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">

            <!-- Cable Configuration -->
            <div class="cable-config">
                <span>Product Tags</span>

                <div class="cable-choose">
                    @foreach (var item in Model.ProductTags)
                    {
                        <button>@Html.DisplayFor(modelItem => item.Tag.Name)</button>
                    }
                </div>

            </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
            <span>@Html.DisplayFor(model => model.Price)$</span>

            @{ int? userId = Context.Session.GetInt32("userId"); }

            @if (userId > 0)
            {
                <a asp-action="AddToCart" asp-route-id="@Model.Id" class="cart-btn">Add to cart</a>
            }

        </div>
    </div>
</main>

@section Styles
{
    <link href="~/css/product-details.css" rel="stylesheet" type="text/css">
}

