@model IEnumerable<WebApplication1.Models.Product>
@using System.Security.Claims
@using ShikShaq.Logic;
@{
    ViewData["Title"] = "Index";
}
@{
    var productsArr = Model.ToArray();
}
@if (User.Identity.IsAuthenticated && User.HasClaim(ClaimTypes.Role, "Admin"))
{
    <p style="margin-top: 2%">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}

    <form asp-action="Search">
        <div class="form-group">
            <input name="name" class="form-control  mr-2" style="width:30%"
                   placeholder="Enter Name"/>
        </div>
        <div class="form-group">
            <input name="description" class="form-control  mr-2" style="width:30%" 
                   placeholder="Enter Description"/>
        </div>
        <div class="form-group">
            <input name="color" class="form-control  mr-2" style="width:30%" 
                   placeholder="Enter Color"/>
        </div>
        <div class="form-group">
            <input name="price" class="form-control  mr-2" style="width:30%"
                   placeholder="Enter Price"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>

    </form>
<div class="col-lg-9">
    @for (var i = 0; i < productsArr.Count(); i += 3)
    {
    <div class="row">
        @for (var j = i; j < productsArr.Count() && j < (i + 3); j = j + 1)
        {
            var imgsrc = ProductImageSourceFetcher.Fetch(productsArr[j]);
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="thumbnail">
                        <a asp-action="Details" asp-route-id="@productsArr[j].Id"><img class="card-img-top" src=@imgsrc alt=""></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a asp-action="Details" asp-route-id="@productsArr[j].Id">@Html.DisplayFor(modelItem => productsArr[j].Name)</a>
                        </h4>
                        <h5>@Html.DisplayFor(modelItem => productsArr[j].Price)₪</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => productsArr[j].Description)</p>
                        <div class="card-footer">
                            @if (User.Identity.IsAuthenticated && User.HasClaim(ClaimTypes.Role, "Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@productsArr[j].Id">Edit</a>
                                <a asp-action="Details" asp-route-id="@productsArr[j].Id">Details</a>
                                <a asp-action="Delete" asp-route-id="@productsArr[j].Id">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            </div>

                }
            </div>
        }
    </div>
<div class="row">
</div>
